/* ------------------ Dark/Light Mode Navbar Style */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fa-sun {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #f1c40f;
    font-size: 1.5rem;
}

.fa-moon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #2c3e50;
    font-size: 1.5rem;
}

/* Hover effects for icons */
.fa-sun:hover, .fa-moon:hover {
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* ------------------ Dark mode style */

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #222 !important;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

body.dark-mode .navbar-brand {
    color: #fff;
}