/* ------------------ Dark/Light Mode Navbar Style */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fa-sun {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #f1c40f;
    font-size: 1.5rem;
}

.fa-moon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #2c3e50;
    font-size: 1.5rem;
}

/* Hover effects for icons */
.fa-sun:hover, .fa-moon:hover {
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1031; /* Ensure icons stay above other elements when hovering */
}

/* Ensure the icons remain clickable in fixed position */
.theme-switch-wrapper .fa-sun,
.theme-switch-wrapper .fa-moon {
    pointer-events: auto;
    z-index: 1031;
}

/* Add a transition effects for dark/light mode change */
body {
    transition: background-color 1.2s ease, color 1.5s ease;
}

.navbar {
    transition: background-color 1.2s ease !important;
}

/* ------------------ Dark mode style */

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #222 !important;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

body.dark-mode .navbar-brand {
    color: #fff;
}

body.dark-mode .navbar-toggler {
    border-color: #fff !important;
}

body.dark-mode .white {
    color: #fff;
}

/* -------------------- Navbar */

.navbar-nav {
    text-align: center;
}

.nav-item {
    opacity: 80%;
}

.nav-item:hover {
    cursor: pointer;
    opacity: 100%;
    transition: all 1.0s ease;
    font-weight: bold;
}

.h1-shadow {
    text-shadow: #333;
}

/* Media Query for screens larger than 768px */
@media screen and (min-width: 768px) {
    .theme-switch-wrapper {
        right: 20px;
        position: fixed;
    }
}